@import "tailwindcss";

html {
    scroll-behavior: smooth;
}
.hero {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.navlinks > ul > li {
    border-radius: 10px;
}
.navlinks > ul > li, .loginbtn{
    padding: 5px 10px;
    transition: all ease 0.4s;
}
.navlinks > ul > li:hover, .loginbtn:hover{
    background-color: #6464dc;
    padding: 5px 10px;
    color: #eaf4fe;
    border-radius: 10px;
    /* border: 1px solid #000000; */
    transition: all ease 0.3s;
    filter: drop-shadow(0 0 8px #4c11c0);
}



.heroImgDiv >img {
    transition: all ease-in-out 0.3s;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.heroImgDiv > img:hover {
    transition: all ease-in-out 0.3s;
    transform: scale(1.1);
}

.herobtns > .btn1, .classesBtn {
     box-shadow: rgba(57, 72, 131, 0.35) 0px 5px 15px;
     transition: all ease 0.3s;
}

.herobtns > .btn1:hover, .classesBtn:hover {
    transition: all ease 0.3s;
    background-color: #6464dc;
    color: white;
}

.btn2 {
transition: all ease 0.3s;
color: white;
background-color: #6464dc;
}
.btn2:hover {
transition: all ease 0.3s;
color: #0e162a;
background-color: #f69d11;
}

.herobtns > .btn2 {
    color:white;
    transition: all ease 0.3s;
}

.herobtns > .btn2:hover {
    transition: all ease 0.3s;
    background-color: #f69d11;
    color: #0e162a;
}

.cards {
    transition: all ease 0.3s;
    filter: drop-shadow(0 0 5px #260f54);
}

.cards:hover {
    transform: translateY(-8px) scale(1.1);
    filter: drop-shadow(0 0 8px #371777);
  transition: all ease 0.3s;
}

.cards:hover .facilitycardicons {
  transform: rotate(40deg);
  transition: all ease 0.3s;
}



.facilityCardsBtn {
    transition: all ease 0.3s;
    cursor: pointer;
}

.cards:hover .facilityCardsBtn {
    transition: all ease 0.3s;
    transform: translateY(15px);
}

.facilityCardsBtn:hover {
    transition: all ease 0.3s;
    background-color: #6464dc;
    color: white;
}

.hrLine {
    display: flex;
    justify-content: center;
    height: 30px;
}

.aboutimages  {
    transition: all ease 0.3s;
    filter: drop-shadow(0 0 10px #151866);
    border: 1px solid rgba(255, 255, 255, 0.21);
}

.aboutimages:hover {
    transition: all ease 0.3;
    transform: scale(1.2);
}


.aboutimages2 >img {
    transition: all ease 0.3s;
    filter: drop-shadow(0 0 15px #2b1251);
    width: 800px;
}

.aboutimages2 >img:hover, .classesTopImg:hover {
    transition: all ease 0.3;
    transform: scale(1.1);
}

.classesTopImg {
    transition: all ease 0.3s;
    filter: drop-shadow(0 0 15px #2b1251);
}


.classesDiv {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.lImg {
    transition: all ease 0.3s;
}

.lImg:hover {
    transition: all ease 0.3s;
    transform: scale(1.1);
}

.lbtn {
    background-color: #2e3771;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.217);
    font-size: 20px;
    font-weight: bold;
    -webkit-box-shadow:0px 0px 10px 2px rgba(46,55,113,0.9);
-moz-box-shadow: 0px 0px 10px 2px rgba(46,55,113,0.9);
box-shadow: 0px 0px 5px 2px rgba(46,55,113,0.9);
transition: all ease 0.2s;
}

.lbtn:hover {
    transition: all ease 0.2s;
    transform: scale(1.1);
}

.gtt {
   -webkit-box-shadow:0px 0px 8px 1px rgba(100,100,220,0.9);
    -moz-box-shadow: 0px 0px 8px 1px rgba(100,100,220,0.9);
    box-shadow: 0px 0px 8px 1px rgba(100,100,220,0.9);
    transition: all ease 0.3s;

}

.gtt:hover {
    transition: all ease 0.3s;
    transform: scale(1.2);
     -webkit-box-shadow:0px 0px 10px 2px rgba(100,100,220,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(100,100,220,0.9);
    box-shadow: 0px 0px 10px 2px rgba(100,100,220,0.9);
}

.CCards {
    transition: all ease 0.3s;
}

.CCards:hover {
    transition: all ease 0.3s;
    transform: translateY(-15px);
}

.borders {
-webkit-box-shadow:0px 0px 2px 0px rgba(100,100,220,0.9);
-moz-box-shadow: 0px 0px 2px 0px rgba(100,100,220,0.9);
box-shadow: 0px 0px 2px 0px rgba(100,100,220,0.9);
}

.CoursesBtn {
    width: 55%;
    text-align: center;
    background-color: #2e3771;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.217);
    font-size: 20px;
    font-weight: bold;
    -webkit-box-shadow:0px 0px 10px 2px rgba(46,55,113,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(46,55,113,0.9);
    box-shadow: 0px 0px 5px 2px rgba(46,55,113,0.9);
    transition: all ease 0.2s;
}

.CoursesBtn:hover {
     transition: all ease 0.2s;
    transform: scale(1.1);
}

.sociallogo {
    filter: drop-shadow(0 0 5px #09099b);
    transition: all ease 0.3s;
}
.sociallogo:hover {
    transform: scale(1.2);
    transition: all ease 0.3s;
}

.contactformborder {
    border: 1px solid #ffffff39;
}
.contactformborder:focus {
    border: 1px solid #472d8386;
    filter: drop-shadow(0 0 5px #080955);
}

.contactformbtns {
    transition: all ease 0.3s;
}

.contactformbtns:hover {
    transform: scale(1.1);
    transition: all ease 0.3s;
}

.devora-ai {
    transition: all ease 0.3s;
    filter: drop-shadow(0 0 3px #0a12e1);
}
.devora-ai:hover {
    transition: all ease 0.3s;
}
.devora-ai:hover > img {
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px #0a12e1);
    transition: all ease 0.3s;
}

.devora-ai:hover > p::before {
    content: "Hi, I’m Devora — your study buddy 👋";
    font-size: 13px;
    padding: 20px;
    font-weight: bolder;
    border-radius: 10px;
    opacity: 0.8;
    background-color: black;
    color: rgb(255, 255, 255);
    transition: all ease 0.3s;

}



.aboutcards {
    border: 1px solid rgba(255, 255, 255, 0.103);
    box-shadow: 0px 0px 10px 5px rgba(33, 15, 57, 0.9);
    transition: all ease 0.3s;
}

.aboutcards:hover {
    transform: translateY(-20px);
    transition: all ease 0.3s;
    box-shadow: 0px 0px 12px 8px rgba(40, 16, 70, 0.9);
}
.aboutcards .icons{
    transition: all ease 0.3s;
}
.aboutcards:hover .icons{
    transform: rotate(40deg);
    transition: all ease 0.3s;
}

.aboutcardsicons {
    filter: drop-shadow(0 0 5px #5a0f7d);
    border: 1px solid rgba(255, 255, 255, 0.127);
}

.contact {
    transition: all ease 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.18);
    filter: drop-shadow(0 0 10px #090a34);
}

.contact:hover {
    transition: all ease 0.3s;
    transform: translateY(-20px);
    border: 1px solid rgba(36, 29, 112, 0.237);
    filter: drop-shadow(0 0 5px #080955);

}

.classesSearch {
    transition: all ease 0.3s;
}

.classesSearch:focus {
     transition: all ease 0.3s;
    border: 1px solid rgba(81, 50, 128, 0.556);
    filter: drop-shadow(0 0 5px #2b1d53);

}
.classCards {
    transition: all ease 0.3s;
    /* filter: drop-shadow(0 0 5px #19153022); */
}

.classCards:hover {
    transition: all ease 0.3s;
    filter: drop-shadow(0px 0 5px #9a4dff92);
    transform: scale(1.1);
}

.blue {
 color: #6464dc;
}

.orange {
    color: #f59c12;
}

.classCardsContent {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.192);
    filter: drop-shadow(0px 0 5px #4b178a);
    background-color: #6464dcbd;
}